@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
    url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{font-family:'robotoregular';}

.header
{
 background:#393e46;
 padding: 10px;
 color: white;
 font-size: 1.3em;
 margin-bottom: 25px;
}

p
{
    font-size: 1em;
}

section
{
    margin-bottom: 30px;
    margin-top: 30px;
}


table
{
  border-collapse: collapse;
}

 th
 {
  background-color: #393e46;
  text-color: #ffffffff;
  color: white;
}

td
{
 border: none;
 }

th, td
{
  padding: 15px;
  text-align: left;
  font-size: 0.8em;
  height: 10px;
  border-bottom: 1px solid #000000;
 }

tr:hover {background-color:  #ddd;}

tr:nth-child(even) {background-color: #f2f2f2;}

